@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500;600;700&display=swap');

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-bold {
  font-weight: 700 !important;
}
.font-semibold {
  font-weight: 600 !important;
}
.font-medium {
  font-weight: 500 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  .tugu-stasiun-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/tugu_stasiun.jpg') center center/cover no-repeat;
    z-index: 0;
    opacity: 0.47;
  }
}
